In [1]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
10

## Loop through two dimensional array

In [3]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

## Inserting Values in Two Dimensional Array

In [4]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T.insert(2, [0,5,11,13,6])

for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 2
15 6 10
0 5 11 13 6
10 8 12 5
12 15 8 6

## Updating Values in Two Dimensional Array

In [11]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T[2] = [11,9]
T[0][3] = 7
for r in T:
    print('hi')
    for c in r:
        print(c,end = " ")
    print(' ')

hi
11 12 5 7
hi
15 6 10
hi
11 9
hi
12 15 8 6